<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>canvas连线</title>
  <link rel="stylesheet" type="text/css" href="./index.css" /> 
</head>

<body>
  <div id="dot1" data-right="0" data-index="0">1</div>
  <div id="dot2" data-right="1">2</div>
  <div id="dot3" data-right="1" data-index="1">3</div>
  <div id="dot4" data-right="0" data-index="2">4</div>
  <div id="dot5" data-right="1" data-index="3">5</div>
  <div id="dot6" data-right="1" data-index="4">6</div>
  <img src="" class="line-img" id="img1" alt="">
  <img src="" class="line-img" id="img2" alt="">
  <img src="" class="line-img" id="img3" alt="">
  <img src="" class="line-img" id="img4" alt="">
  <img src="" class="line-img" id="img6" alt="">
  <canvas id=canvas></canvas>

  <button id="submit" onclick="submit()">提交</button>
  <button id="retry" onclick="lineAgain()">重连</button>

  <script type="text/javascript" src="./index.js"></script>
</body>

</html>