
.content{
  width: 100%;
  max-height: 100vh;
  position: relative;
  overflow: hidden;
}

.main_content{
  position: absolute;
  left: 50%;
  top:0;
  transform: translateX(-50%);
}

.main_top{
  display: flex;
  align-items: center;
}

#main_top_right{
  width: 8vw;
  height: 10vw;
  border: 1px solid red;
}

.main_button{
  
}

.main_btn_top, .main_btn_button{
  display: flex;
  align-items: center;
}

.main_btns{
  width: 8vw;
  height: 10vw;
  border: 1px solid aqua;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_btns:hover{
  cursor: pointer;
  background-color: greenyellow;
}


.clear_btn, .confirm_btn{
  width: 10vw;
  height: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid royalblue;
  cursor: pointer;
}

.clear_btn:hover, .confirm_btn:hover{
  cursor: pointer;
  background-color: greenyellow;
}