<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>数组全等判断</title>
  <link rel="stylesheet" href="index.css">
</head>

<body>
  <div class="content">
    <div class="item">
      一、请你填一填
      <div>1.小朋友做间操，每行6人，排7行。一共有几人</div>
      <input id="numberA" value='' type="number"> X <input id="numberB" value='' type="number"> =  <input id="sumA" value='' type="number">
      <button id="submitBtn">提交</button>
    </div>
  <script>
    var rightObj = {
      type: '2',
      data: [6, 7],
      sort: false
    }
    var submitBtn = document.getElementById('submitBtn')
    submitBtn.addEventListener('click', function() {
      getUserObj(['numberA', 'numberB'],'sumA', 2, false)
    })
  </script>
  <script src="./index.js"></script>
</body>

</html>