<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>连连看</title>
  <link rel="stylesheet" href="./index.css">
  <link rel="stylesheet" href="./reset.css">
</head>
<body>
  <div class="content">
    <div id="center"></div>
    <button onclick="submit()">判断</button>
  </div>
  <script>
    // 数据
    var data = [{
      digital:1,
    }, {
      digital:'+',
    }, {
      digital:3,
    }, {
      digital:4,
    }, {
      digital:5,
    }, {
      digital:6,
    }]
  </script>
  <script src="./index.js"></script>
</body>
</html>